In [1]:
import pandas as pd
import numpy as np
dataset=pd.read_csv(r"C:\Users\hp\Downloads\raj.csv")

x=dataset.iloc[:,:-1]
y=dataset.iloc[:,8]
from sklearn.preprocessing import LabelEncoder
labelencoder_x=LabelEncoder()
x=x.apply(LabelEncoder().fit_transform)
from sklearn.tree import DecisionTreeClassifier
Reg = DecisionTreeClassifier()
Reg.fit(x.iloc[:,1:8],y)
dataset2=pd.read_csv(r"C:\Users\hp\Downloads\raj1.csv")
x1=dataset2.iloc[:,:]
from sklearn.preprocessing import LabelEncoder
labelencoder_x=LabelEncoder()
x1=x1.apply(LabelEncoder().fit_transform)

    
    



import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier





my_data = pd.read_csv(r"C:\Users\hp\Downloads\CSVDemo.csv")
my_data
my_data.columns




def gini_index(groups, classes):
	# count all samples at split point
	n_instances = float(sum([len(group) for group in groups]))
	# sum weighted Gini index for each group
	gini = 0.0
	for group in groups:
		size = float(len(group))
		# avoid divide by zero
		if size == 0:
			continue
		score = 0.0
		# score the group based on the score for each class
		for class_val in classes:
			p = [row[-1] for row in group].count(class_val) / size
			score += p * p
		# weight the group score by its relative size
		gini += (1.0 - score) * (size / n_instances)
	return gini
X = my_data[['no_of_visit', 'no_of_times_not_purchase', 'product_quantity',
       'purchase_amount']].values
def test_split(index, value, dataset):
	left, right = list(), list()
	for row in dataset:
		if row[index] < value:
			left.append(row)
		else:
			right.append(row)
	return left, right




y = my_data["valued customer"]
def split(node, max_depth, min_size, depth):
	left, right = node['groups']
	del(node['groups'])
	# check for a no split
	if not left or not right:
		node['left'] = node['right'] = to_terminal(left + right)
		return
	# check for max depth
	if depth >= max_depth:
		node['left'], node['right'] = to_terminal(left), to_terminal(right)
		return
	# process left child
	if len(left) <= min_size:
		node['left'] = to_terminal(left)
	else:
		node['left'] = get_split(left)
		split(node['left'], max_depth, min_size, depth+1)
	# process right child
	if len(right) <= min_size:
		node['right'] = to_terminal(right)
	else:
		node['right'] = get_split(right)
		split(node['right'], max_depth, min_size, depth+1)





from sklearn.model_selection import train_test_split





X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.2, random_state=4)

def entropy(target_col):  
    
    elements,counts = np.unique(target_col,return_counts = True)  
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])  
    return entropy


y_trainset.shape





X_testset.shape



def decision_tree(train, test, max_depth, min_size):
	tree = build_tree(train, max_depth, min_size)
	predictions = list()
	for row in test:
		prediction = predict(tree, row)
		predictions.append(prediction)
	return(predictions)
cusTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
cusTree # it shows the default parameters




cusTree.fit(X_trainset,y_trainset)

def get_split(dataset):
	class_values = list(set(row[-1] for row in dataset))
	b_index, b_value, b_score, b_groups = 999, 999, 999, None
	for index in range(len(dataset[0])-1):
		for row in dataset:
			groups = test_split(index, row[index], dataset)
			gini = gini_index(groups, class_values)
			if gini < b_score:
				b_index, b_value, b_score, b_groups = index, row[index], gini, groups
	return {'index':b_index, 'value':b_value, 'groups':b_groups}
def predict(a,b,*c):
    x=cusTree.predict([[a,b,*c]])
    return(x)




predTree = cusTree.predict(X_testset)
def predicts(query,tree,default = 1):  
    
    for key in list(query.keys()):  
        if key in list(tree.keys()):  
            
            try:  
                result = tree[key][query[key]]   
            except:  
                return default  
    
            result = tree[key][query[key]]  
            
            if isinstance(result,dict):  
                return predict(query,result)  
            else:  
                return result




predTree





np.array(y_testset)





from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree)*100)





 








my_data2 = pd.read_csv(r"C:\Users\hp\Downloads\rajcsv.csv")
X2 = my_data2[['no_of_visit', 'no_of_times_not_purchase', 'product_quantity',
       'purchase_amount']].values
y2=my_data2["id"].values
print(dataset2)
print("PREDICT")
for i in range(len(x1)):
    m=[x1["customer_age"][i],x1["gender"][i],x1["marriage_status"][i],x1["no_of_visit"][i],x1["no_of_times_not_purchase"][i],x1["product_quantity"][i],x1["purchase_amount"][i]]
    r=Reg.predict([m])
    print(i+1,r[0])

DecisionTrees's Accuracy:  91.66666666666666
      id  customer_age  gender marriage_status  no_of_visit  \
0      1            25    Male       Unmarried            7
1      2            56    Male         Married           63
2      3            21  Female         Married           25
3      4            54    Male         Married           55
4      5            26    Male       Unmarried           99
5      6            56    Male         Married           59
6      7            14  Female       Unmarried            9
7      8            65  Female         Married           73
8      9            25    Male       Unmarried           21
9     10            16  Female       Unmarried           16
10    11            39    Male         Married           41
11    12            45  Female         Married           39
12    13            25  Female         Married           45
13    14            63  Female         Married           26
14    15            16    Male       Unmarried            8
15    16            42  Female         Married           81
16    17            12    Male       Unmarried            9
17    18            22    Male         Married           58
18    19            53    Male         Married           56
19    20            21  Female       Unmarried            8
20    21            18    Male       Unmarried           19
21    22            45    Male         Married            9
22    23            26    Male         Married           32
23    24            16    Male       Unmarried           56
24    25            22    Male         Married           30
25    26            54  Female         Married           30
26    27            78  Female         Married           23
27    28            23    Male       Unmarried           32
28    29            36  Female         Married           23
29    30            25    Male         Married           19
..   ...           ...     ...             ...          ...
91    92            53  Female         Married           56
92    93            21  Female       Unmarried           58
93    94            18    Male       Unmarried            9
94    95            65  Female         Married           85
95    96            42    Male         Married           19
96    97            12    Male       Unmarried            9
97    98            22    Male       Unmarried           32
98    99            53    Male         Married           71
99   100            21    Male       Unmarried           60
100  101            18    Male       Unmarried           27
101  102            35  Female         Married           36
102  103            33  Female         Married           56
103  104            34  Female         Married           63
104  105            25  Female         Married            4
105  106            21  Female         Married           75
106  107            26  Female         Married            6
107  108            12  Female       Unmarried           23
108  109             7  Female       Unmarried            9
109  110            12  Female       Unmarried            7
110  111            22  Female       Unmarried           36
111  112            56    Male         Married           32
112  113            45    Male         Married           12
113  114            25    Male         Married           65
114  115            63  Female         Married           52
115  116            65  Female         Married            6
116  117            18    Male       Unmarried            2
117  118            15    Male       Unmarried           45
118  119            65    Male         Married           52
119  120            26  Female         Married            3
120  121            45    Male         Married           74

     no_of_times_not_purchase  product_quantity  purchase_amount
0                           1                12            12564
1                           4                64            17876
2                           6                16            31373
3                           7                16            32094
4                          16                16            15343
5                          10                16             2012
6                           1                 4             9209
7                           8                18            20285
8                           4                64            27873
9                           5                10             2911
10                          6                 6            15266
11                          1                24            13791
12                          0                16            59628
13                          0                56            14647
14                          0                 8            13296
15                          0                 1            11186
16                          0                16            15266
17                          1                16            55172
18                          1                20            12465
19                          1                64            15266
20                          1                13            13915
21                          1                 5             6734
22                          2                 8            14245
23                          2                 8            15266
24                          3                 8             9886
25                          8                 8            19975
26                          6                16            15266
27                          0                24            15266
28                          5                 8             9886
29                          6                32            16728
..                        ...               ...              ...
91                          1                96            30454
92                         21                25             2563
93                          6                10             1020
94                          7               153            45869
95                          0               200            94525
96                          5                23             1240
97                          1                12             3512
98                          8                89            75482
99                          4                53            20100
100                         5                23            15000
101                         6                89            56000
102                         1               100            74215
103                         0               152            60154
104                         0                14              145
105                         0               236           105487
106                         0                56            45284
107                         8                25            14524
108                         4                13            12000
109                         5                21            21000
110                        25                65            52654
111                         5                12             5662
112                         1                85            52462
113                         1               466           254159
114                         2               320           205486
115                         5                86            54125
116                         1                 2              120
117                         1                52            54684
118                         3                96            96548
119                         1                56            15455
120                         1                70            15000

[121 rows x 8 columns]
PREDICT
1 No
2 Yes
3 Yes
4 Yes
5 No
6 No
7 No
8 Yes
9 Yes
10 No
11 Yes
12 No
13 Yes
14 Yes
15 No
16 Yes
17 No
18 Yes
19 Yes
20 No
21 No
22 Yes
23 Yes
24 No
25 No
26 Yes
27 No
28 No
29 No
30 No
31 No
32 Yes
33 No
34 No
35 No
36 No
37 No
38 Yes
39 Yes
40 No
41 No
42 No
43 No
44 No
45 Yes
46 No
47 Yes
48 No
49 No
50 No
51 Yes
52 No
53 No
54 Yes
55 Yes
56 No
57 No
58 No
59 Yes
60 No
61 No
62 No
63 Yes
64 Yes
65 No
66 No
67 No
68 Yes
69 No
70 Yes
71 No
72 Yes
73 No
74 No
75 Yes
76 No
77 No
78 Yes
79 Yes
80 Yes
81 No
82 Yes
83 No
84 Yes
85 Yes
86 Yes
87 Yes
88 Yes
89 Yes
90 No
91 No
92 Yes
93 No
94 No
95 Yes
96 Yes
97 No
98 No
99 Yes
100 No
101 No
102 Yes
103 Yes
104 Yes
105 Yes
106 Yes
107 Yes
108 No
109 No
110 Yes
111 Yes
112 No
113 Yes
114 Yes
115 Yes
116 Yes
117 No
118 Yes
119 Yes
120 Yes
121 Yes

In [46]:
dataset

,id,customer_age,gender,marriage_status,no_of_visit,no_of_times_not_purchase,product_quantity,purchase_amount,valued_customer
0,1,25,Male,Unmarried,7,1,12,12564,No
1,2,56,Male,Married,63,4,64,17876,Yes
2,3,21,Female,Married,25,6,16,31373,Yes
3,4,54,Male,Married,55,7,16,32094,Yes
4,5,26,Male,Unmarried,99,16,16,15343,No
5,6,56,Male,Married,59,10,16,2012,No
6,7,14,Female,Unmarried,9,1,4,9209,No
7,8,65,Female,Married,73,8,18,20285,Yes
8,9,25,Male,Unmarried,21,4,64,27873,Yes
9,10,16,Female,Unmarried,16,5,10,2911,No
10,11,39,Male,Married,41,6,6,15266,Yes
11,12,45,Female,Married,39,1,24,13791,No
12,13,25,Female,Married,45,0,16,59628,Yes
13,14,63,Female,Married,26,0,56,14647,Yes
14,15,16,Male,Unmarried,8,0,8,13296,No
15,16,42,Female,Married,81,0,1,11186,Yes
16,17,12,Male,Unmarried,9,0,16,15266,No
17,18,22,Male,Married,58,1,16,55172,Yes
18,19,53,Male,Married,56,1,20,12465,Yes
19,20,21,Female,Unmarried,8,1,64,15266,No
20,21,18,Male,Unmarried,19,1,13,13915,No
21,22,45,Male,Married,9,1,5,6734,Yes
22,23,26,Male,Married,32,2,8,14245,Yes
23,24,16,Male,Unmarried,56,2,8,15266,No
24,25,22,Male,Married,30,3,8,9886,No
25,26,54,Female,Married,30,8,8,19975,Yes
26,27,78,Female,Married,23,6,16,15266,No
27,28,23,Male,Unmarried,32,0,24,15266,No
28,29,36,Female,Married,23,5,8,9886,No
29,30,25,Male,Married,19,6,32,16728,No
...,...,...,...,...,...,...,...,...,...
90,91,22,Male,Unmarried,81,30,15,2362,No
91,92,53,Female,Married,56,1,96,30454,Yes
92,93,21,Female,Unmarried,58,21,25,2563,No
93,94,18,Male,Unmarried,9,6,10,1020,No
94,95,65,Female,Married,85,7,153,45869,Yes
95,96,42,Male,Married,19,0,200,94525,Yes
96,97,12,Male,Unmarried,9,5,23,1240,No
97,98,22,Male,Unmarried,32,1,12,3512,No
98,99,53,Male,Married,71,8,89,75482,Yes
99,100,21,Male,Unmarried,60,4,53,20100,No
100,101,18,Male,Unmarried,27,5,23,15000,No
101,102,35,Female,Married,36,6,89,56000,Yes
102,103,33,Female,Married,56,1,100,74215,Yes
103,104,34,Female,Married,63,0,152,60154,Yes
104,105,25,Female,Married,4,0,14,145,Yes
105,106,21,Female,Married,75,0,236,105487,Yes
106,107,26,Female,Married,6,0,56,45284,Yes
107,108,12,Female,Unmarried,23,8,25,14524,No
108,109,7,Female,Unmarried,9,4,13,12000,No
109,110,12,Female,Unmarried,7,5,21,21000,Yes
110,111,22,Female,Unmarried,36,25,65,52654,Yes
111,112,56,Male,Married,32,5,12,5662,No
112,113,45,Male,Married,12,1,85,52462,Yes
113,114,25,Male,Married,65,1,466,254159,Yes
114,115,63,Female,Married,52,2,320,205486,Yes
115,116,65,Female,Married,6,5,86,54125,Yes
116,117,18,Male,Unmarried,2,1,2,120,No
117,118,15,Male,Unmarried,45,1,52,54684,Yes
118,119,65,Male,Married,52,3,96,96548,Yes
119,120,26,Female,Married,3,1,56,15455,Yes